<md-card class="employeeCard">
  <md-card-header>
    <md-card-title>{{employee.firstName}} {{employee.lastName}}</md-card-title>
    <md-card-subtitle>{{employee.email}}</md-card-subtitle>
  </md-card-header>
  <md-card-actions>
    <button md-raised-button>
      <md-icon>attach_money</md-icon>
      See expenses
    </button>
    <!-- <button md-raised-button color="primary">
      <md-icon>mode_edit</md-icon>
      Edit
    </button>
    <button md-raised-button color="warn">
      <md-icon>delete</md-icon>
      Delete
    </button> -->
  </md-card-actions>
</md-card>