.uploadedImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0;
  box-sizing: border-box;
}

.uploadedImages__cardContent {
  display: flex;
  justify-content: center;
}

.uploadedImages__cardTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.uploadedImages__imageCard {
  box-sizing: border-box;
  width: calc(50% - 10px);
  margin-bottom: 20px;

}
